<tr>
  <td>
    <% if image.attachment.attached? %>
      <%= link_to image_tag(image.url(:small), class: 'img-thumbnail'), image.url(:large), target: '_blank' %>
    <% else %>
      <em>Fără imagine</em>
    <% end %>
  </td>

  <td>
    <%= image.alt.presence || "–" %>
  </td>

  <td>
    <%= image.viewable_type %>
  </td>

  <td>
    <%= image.viewable.try(:sku) || "–" %>
  </td>

  <td>
    <%= image.created_at.strftime("%Y-%m-%d %H:%M") %>
  </td>

  <td class="text-end">
    <% if image.persisted? && image.viewable.respond_to?(:product) %>
      <%= link_to_edit image, url: edit_admin_product_image_path(image.viewable.product, image) %>
      <%= link_to_delete image, url: admin_product_image_path(image.viewable.product, image) %>
    <% end %>
  </td>
</tr>
