<!-- app/views/layouts/_header.html.erb -->

<div class="header_container">
<header>
    <a href="/" class="navbar-brand">
        <img src="<%= image_path('Ayus Grup.webp') %>" alt="Ayus Cell Romania" class="logo" />
    </a>
    <div>
    <nav>
<a href="/">Acasă</a>
<a href="#">Articole</a>
<a href="#">Resurse Digitale</a>
<a href="#">Despre</a>
<a href="#">Contact</a>
</nav>

<nav>
<% if spree_current_user %> 
  <%= link_to "Admin - Comenzi", spree.admin_orders_path %>
  <% else %>
  <%= link_to "Login", spree.new_spree_user_session_path %>
  <%= link_to "Creaza un cont", spree.new_spree_user_registration_path %>
<% end %>
<%= link_to "Produse", main_app.carti_index_path %>
<%= link_to "Coș (#{cart_item_count})", main_app.cart_path %>
</nav>


<!--
    <nav class="flex items-center space-x-4">

        <%= link_to "Cart (#{cart_item_count})", main_app.cart_path, class: "hover:text-indigo-200" %>

        <% if spree_current_user %>
          <span class="text-sm">
            Bine ași venit, <%= spree_current_user.name || spree_current_user.email %>!
          </span>

          <%= button_to "Logout", spree.destroy_spree_user_session_path, method: :delete, class: "hover:text-indigo-200 bg-transparent border-none cursor-pointer"%>
          <%= link_to "Admin - Comenzi", spree.admin_orders_path, class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mr-2' %>
        
          <% else %>
          <%= link_to "Login", spree.new_spree_user_session_path, class: "hover:text-indigo-200" %>
          <%= link_to "Sign Up", spree.new_spree_user_registration_path, class: "hover:text-indigo-200" %>
        <% end %>
        
        <%= link_to "My Shop", main_app.carti_index_path, class: "hover:text-indigo-200" %></br></br>
    </nav>
-->
    </div>
    

</header>


</div>



