<!-- app/views/layouts/_header.html.erb -->
<header class="bg-indigo-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo sau titlu -->
    <div class="text-2xl font-bold">
      <%= link_to "My Store", main_app.store_path, class: "text-white hover:text-indigo-200" %>
    </div>

    <!-- Navigație -->
    <nav class="flex items-center space-x-4">
      <!-- Link către coș -->
      <%= link_to "Cart (#{cart_item_count})", main_app.cart_path, class: "hover:text-indigo-200" %>

      <!-- Logica de autentificare -->
      <% if spree_current_user %>
        <!-- Utilizator autentificat -->
        <span class="text-sm">
          Welcome, <%= spree_current_user.name || spree_current_user.email %>!
        </span>
        <%= button_to "Logout", spree.destroy_spree_user_session_path, method: :delete, class: "hover:text-indigo-200 bg-transparent border-none cursor-pointer" %>
        <%= link_to "Admin - Comenzi", spree.admin_orders_path, class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mr-2' %>
        <% else %>
        <!-- Utilizator neautentificat -->
        <%= link_to "Login", spree.new_spree_user_session_path, class: "hover:text-indigo-200" %>
        <%= link_to "Sign Up", spree.new_spree_user_registration_path, class: "hover:text-indigo-200" %>
      <% end %>
      <%= link_to "My Shop", main_app.carti_index_path, class: "hover:text-indigo-200" %></br></br>
    </nav>
    
  </div>
</header>