<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>My Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Include stilurile Swiper.js direct prin CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- Include Turbo Rails direct prin CDN -->
  <script src="https://unpkg.com/@hotwired/turbo-rails@7.3.0/dist/turbo.es2017-umd.js"></script>
  <!-- Include Swiper.js direct prin CDN -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <%= tag.link rel: "stylesheet", href: asset_path("application.css"), "data-turbo-track": "reload" %>

  
  <!-- Include stilurile Swiper.js direct prin CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- Include Turbo Rails direct prin CDN -->
  <script src="https://unpkg.com/@hotwired/turbo-rails@7.3.0/dist/turbo.es2017-umd.js"></script>
  <!-- Include Swiper.js direct prin CDN -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body class="bg-gray-100">
  <%= render "layouts/header" %>

  <main class="container mx-auto mt-6">
   

    <%= yield %>
  </main>

  <footer>
    <div class="container mx-auto text-center">
      <p>© <%= Time.current.year %> Biblioteca Ideilor | Toate drepturile rezervate.</p>
    </div>
  </footer>

  

</body>
</html>